@font-face {
  font-family: "Fortnight";
  src: url("font.otf");
}

* {
  text-transform: uppercase;
  color: #E4DCD9;
  letter-spacing: 2px;
  word-spacing: 1.5px;
  font-family: "Fortnight";
  z-index: 2;
  position: relative;
}

body, html {
  background: linear-gradient(to top left, #37312D, #322D29);
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#background {
  object-fit: cover;
  z-index: 1;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
}

#footer {
  font-size: 0.7rem;
  padding: 10px;
}

#footer > a {
  color: inherit;
  text-decoration: none;
}

#title,
#subtitle,
#footer,
#card,
#spinner,
#end *,
#label,
#tip {
  opacity: 0;
  transition: opacity 0.5s;
}

#card {
  display: flex;
}

#form-input {
  background-color: transparent;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid #E4DCD9;
  outline: none;
  font-size: 0.9rem;
  width: 100%;
}

#form-input::placeholder {
  color: rgba(228, 220, 217, 0.5);
}

#form-button {
  text-transform: uppercase;
  background-color: rgba(228, 220, 217, 0.2);
  border: 0;
  padding: 10px;
  margin: 0;
  transition: background-color 0.2s;
  border-radius: 50px;
}

#form-button:hover {
  background-color: rgba(228, 220, 217, 0.4);
}

#label {
  font-size: 0.8rem;
  margin-top: 10px;
  display: flex;
  gap: 5px;;
}

#end,
#end-reissue {
  display: none;
}

#end-title > span,
#end-reissue {
  font-size: 0.8rem;
}

#spinner {
  background-color: rgba(228, 220, 217, 0.2);
}

#spinner > div {
  animation-duration: 1s !important;
}

.button {
  color: #37312D;
  background-color: rgba(228, 220, 217, 0.7);
  border: 0;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 50px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #E4DCD9;
}

.button svg {
  width: 16px;
  height: 16px;
}

.button:not(#btn-stream) {
  aspect-ratio: 1/1;
}

#btn-stream {
  font-size: 12px;
}

#btn-reload {
  width: 39.2px;
  height: 39.2px;
}

#end-cover {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

#end-stage {
  font-size: 12px;
  background-color: rgba(255,255,255,0.2);
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}

#tip {
  font-size: 14px;
}